@{
    ViewBag.Title = "API";
}

<h3>Restbucks restful API</h3>
<p>
    One of primary ideas of REST is discoverability of the API. Good REST application establishes uses well-known conventions
    and (if necessary) establishes its own conventions to make the API as easy to use as possible.
</p>
<p>
    <span class="restbucks">Restbucks.net</span> uses three conventions to publish its API:
</p>
<ul>
    <li><a href="API/LinkRelations">Link relations</a> are URIs which point to (X)HTML pages that contain description of relations.</li>
    <li><a href="http://schemas.restbucks.net/">Schema namespace name</a> points to XSD documents available on-line.</li>
    <li>If a <a href="API/Resources">resource</a> accepts PUT or POST, issuing a GET request against this resource returns a XSD documents that
    describes the content of PUT/POST request which will be accepted.</li>
    </ul>
<p>
    Those three simple conventions allow <span class="restbucks">Restbucks.net</span> customers all over the world
    to rapidly build client applications on all existing platforms having HTTP client libraries.
</p>
