@{
    ViewBag.Title = "Link relations";
}

<h3>Link relations</h3>
<p>
    Link relations are the key enabler of HATEOAS in REST applications. Link relations describe the meaning of particular
    hyperlink. It is enough for client to understand link relation types to use the application by navigating proper links.
    The service is allowed to change the resource URLs if necessary as long as link relations maintain stable.
</p>
<p>
    Here is the list of link relations used by <span class="restbucks">Restbucks.net</span>    
</p>
<ul>
    <li><strong><a href="http://relations.restbucks.net/order">http://relations.restbucks.net/order</a></strong><br />
    <iframe src="http://relations.restbucks.net/order" height="70px" frameborder="0"></iframe></li>
    <li><strong><a href="http://relations.restbucks.net/cancel">http://relations.restbucks.net/cancel</a></strong><br />
    <iframe src="http://relations.restbucks.net/cancel" height="70px" frameborder="0"></iframe></li>
    <li><strong><a href="http://relations.restbucks.net/payment">http://relations.restbucks.net/payment</a></strong><br />
    <iframe src="http://relations.restbucks.net/payment" height="70px" frameborder="0"></iframe></li>
    <li><strong><a href="http://relations.restbucks.net/receipt">http://relations.restbucks.net/receipt</a></strong><br />
    <iframe src="http://relations.restbucks.net/receipt" height="70px" frameborder="0"></iframe></li>
    <li><strong>><a href="http://relations.restbucks.net/update">http://relations.restbucks.net/update</a></strong><br />
    <iframe src="http://relations.restbucks.net/update" height="70px" frameborder="0"></iframe></li>
</ul>

