@{
    ViewBag.Title = "Typy relacji";
}

<h3>Link relations</h3>
<p>
    Typy relacji są kluczowym komponentem umożliwiającym realizację idei HATEOAS (Hypermedia As The Engine Of Application State,
    hipermedia jako silnik wykonawczy procesów biznesowych aplikacji). Typy relacji opisują znaczenie linków, których dotyczą.
    Aby skorzystać z aplikacji, klient nie musi posiadać zapisanych na sztywno wszystkich URL'i zasobów. Wystarczy, że będzie on
    rozumiał znaczenie typów relacji dzieki czemu będzie on mógł nawigować używając odpowiednich linków.
</p>
<p>
    Oto lista typów relacji wykorzystywanych przez <span class="restbucks">Restbucks.net</span>. Opisy dostępne są
    jedynie w języku angielskim.
</p>
<ul>
    <li><strong><a href="http://relations.restbucks.net/order">http://relations.restbucks.net/order</a></strong><br />
    <iframe src="http://relations.restbucks.net/order" height="70px" frameborder="0"></iframe></li>
    <li><strong><a href="http://relations.restbucks.net/cancel">http://relations.restbucks.net/cancel</a></strong><br />
    <iframe src="http://relations.restbucks.net/cancel" height="70px" frameborder="0"></iframe></li>
    <li><strong><a href="http://relations.restbucks.net/payment">http://relations.restbucks.net/payment</a></strong><br />
    <iframe src="http://relations.restbucks.net/payment" height="70px" frameborder="0"></iframe></li>
    <li><strong><a href="http://relations.restbucks.net/receipt">http://relations.restbucks.net/receipt</a></strong><br />
    <iframe src="http://relations.restbucks.net/receipt" height="70px" frameborder="0"></iframe></li>
    <li><strong>><a href="http://relations.restbucks.net/update">http://relations.restbucks.net/update</a></strong><br />
    <iframe src="http://relations.restbucks.net/update" height="70px" frameborder="0"></iframe></li>
</ul>

