@{
    ViewBag.Title = "Resources";
}

<h3>Reesources</h3>
<p>
    Resources are the primary concept of REST. Each resource is associated with one or more URIs or (more commonly) URI
    templates. Templates are descriptions of how to build a valid resource URI given some data, e.g. <pre>restbucks.net/order/{orderId}</pre>
</p>
<p>
    Here is the list of resources used by <span class="restbucks">Restbucks.net</span>    
</p>
<ul>
    <li>Order
    <p>
    The full schema is available at <a href="http://schemas.restbucks.net/order.xsd">http://schemas.restbucks.net/order.xsd</a>
    </p>
    </li>
    <li>Payment
    <p>
    The full schema is available at <a href="http://schemas.restbucks.net/payment.xsd">http://schemas.restbucks.net/payment.xsd</a>
    </p>
    </li>
    <li>Receipt
    <p>
    The full schema is available at <a href="http://schemas.restbucks.net/receipt.xsd">http://schemas.restbucks.net/receipt.xsd</a>
    </p>
    </li>
</ul>

