@{
    ViewBag.Title = "Zasoby";
}

<h3>Zasoby</h3>
<p>
    Zasoby są podstawową koncepcją stylu REST. Każdy zasób jest dostępny za pośrednictwem jednego lub wielu URL'i, lub (co częstsze)
    szablonów URL'i. Szablony opisują w jaki sposób budować poprawne URL'e zasobu na bazie pewnych jego danych, np.
    <pre>restbucks.net/order/{orderId}</pre>
    jest szablonem URL zasobu zamówienia wykorzystującym jego identyfikator jako część URL.
</p>
<p>
    Oto lista zasobów wykorzystywanych przez <span class="restbucks">Restbucks.net</span>    
</p>
<ul>
    <li>Zamówienie / Order
    <p>
    Pełen schemat XSD jest dostępny pod adresem <a href="http://schemas.restbucks.net/order.xsd">http://schemas.restbucks.net/order.xsd</a>
    </p>
    </li>
    <li>Płatność / Payment
    <p>
    Pełen schemat XSD jest dostępny pod adresem <a href="http://schemas.restbucks.net/payment.xsd">http://schemas.restbucks.net/payment.xsd</a>
    </p>
    </li>
    <li>Paragon / Receipt
    <p>
    Pełen schemat XSD jest dostępny pod adresem <a href="http://schemas.restbucks.net/receipt.xsd">http://schemas.restbucks.net/receipt.xsd</a>
    </p>
    </li>
</ul>

