@{
    ViewBag.Title = "Tutoriale";
}

<h3>Tutoriale dla WCF Web APIs w oparciu o przykład Restbucks</h3>
<ul>
    <li><a href="@Url.Action("Building")">Budowanie i uruchamianie aplikacji <span class="restbucks">Restbucks.net</span>.</a></li>
</ul>
