@{
    ViewBag.Title = "Tutorials";
}

<h3>Restbucks-based WCF Web APIs tutorials</h3>
<ul>
    <li><a href="@Url.Action("Building")">Building and running <span class="restbucks">Restbucks.net</span> application.</a></li>
</ul>
