@{
    ViewBag.Title = "Home Page";
}

<h3>The Restbucks project</h3>
<p>
    The idea of using a coffee shop as an example of enterprise application came from 
    <a href="http://www.eaipatterns.com/docs/IEEE_Software_Design_2PC.pdf">Gregor Hohpe's paper</a> on distributed
    computing. Gregor's observation was that enterprise systems (just like Starbucks) can live without distributed transactions
    and 2-phase commit protocol and maintain full consistency.
</p>
<p>
    The name <q>Restbucks</q> comes from a great book by Jim Webber, Savas Parastatidis and Ian S Robinson -- 
    <a href="http://restinpractice.com">REST in Practice</a>. The authors use an example of an hypothetical internet coffee 
    shop throughout the book.
</p>
<p>
    I was reading the book and reading about WCF Web APIs in the same time so I thought it would be a good idea to port
    the example application Jim, Savas and Ian created to the new RESTful framework from Redmond. That's how Restbucks.net was born.
    The content of this side is not an official sample of 'REST in Practice' book nor it was in any way approved by the authors. It
    is just a fan site.
</p>
<p>
    The source code of this site, the <span class="restbucks">Restbucks.net</span> WCF service and a reference command-line
    client can be found on <a href="https://github.com/SzymonPobiega/restbucks-wcf">github</a>. Just clone the following repository
    <pre>git://github.com/SzymonPobiega/restbucks-wcf.git</pre>
    You can also just download the latest sources packaged into a zip file from <a href="https://github.com/SzymonPobiega/restbucks-wcf/zipball/master">here</a>.
</p>
