@{
    ViewBag.Title = "Prezentacja";
}
<h3>
    Prezentacja</h3>
<p>
    Strona ta powstała jako dodatek do prezentacji przygotowywane przeze mnie dla Krakowskiej Grupy Developerów .NET.
    Slajdy do prezentacj możecie pobrać <a href="@Url.Content("~/downloads/REST.pptx")">stąd</a>. Możecie ją także przejrzeć
    używając osadzonego poniżej widoku SlideShare'a. Jeśli Wam się spodoba i chcielibyście, abym wsytąpił z nią na spotkaniu
    Waszej lokalnej grupy .NET, dajcie znać -- chętnie przyjadę.
</p>
<div style="width: 595px; margin-left: auto ;margin-right: auto ;" id="__ss_7327725">
    <strong style="display: block; margin: 12px 0 4px"><a href="http://www.slideshare.net/SzymonPobiega/rest-in-the-shade-of-wcf"
        title="REST in the shade of WCF">REST in the shade of WCF</a></strong>
    <object id="__sse7327725" width="595" height="497">
        <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=rest-110320181051-phpapp01&stripped_title=rest-in-the-shade-of-wcf&userName=SzymonPobiega" />
        <param name="allowFullScreen" value="true" />
        <param name="allowScriptAccess" value="always" />
        <embed name="__sse7327725" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=rest-110320181051-phpapp01&stripped_title=rest-in-the-shade-of-wcf&userName=SzymonPobiega"
            type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"
            width="595" height="497"></embed>
    </object>
</div>
